
            body{
                position: fixed;
                top:50px;
                left:250px;
                right:350px;
                align:center;
                bottom:0px;
                border-style: solid;
                border: 5px 5px;
                border-bottom-color: black;
            }
            * {box-sizing: border-box}
            .mySlides1, .{display:inline}
            img {vertical-align: baseline;}
/* Slideshow container */
            .slideshow-container {
            max-width: 500px;
            left:50px;
            align: left;
            position: relative;
            margin: 13px;
            margin-top: 200px
            }
/* Next & previous buttons */
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }

/* Position the "next button" to the right */
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }

/* On hover, add a grey background color */
            .prev:hover, .next:hover {
                background-color: #f1f1f1;
                color: black;
                }
            .SOW_LOGO
            {
                
            }
            marquee{
                font-size: 30px;
                font-family: sans-serif;
                font-display: block;
            }
            .bottomright {
                position: fixed;
                top:440px;
                left:890px;
                font-size: 18px;
                }
            .from_cont{
                position: fixed;
                top:420px;
                left:850px;
                width: 400px;
                height: 310px;
                border-style: solid;
                border-color: aqua;
            }
            
            .content{
                position: fixed;
                top: 10px;
                left:10px;
                font-size: 50px;
                background-color: green;
                color: greenyellow;
                width: 100%;
                padding: 10px;
            }
            h1:hover , a:hover{
                font-size: 30px;
            }
            a{
                color: darkturquoise;
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 1000px;
                background-color: red;
                overflow: hidden;
                position: fixed;
                top:250px;
                left:300px;
            }

            li {
                float: left;
            }

            li a, .dropbtn {
                display: inline-block;
                position:relative;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover, .dropdown:hover .dropbtn {
                background-color: whitesmoke;
            }

            li.dropdown {
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: fixed;
                background-color: skyblue;
                min-width: 160px;
                 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

            .dropdown-content a:hover {background-color: greenyellow;}

            .dropdown:hover .dropdown-content {
                display: block;
            }